In [1]:
import pandas as pd
import numpy as np
import sqlite3

In [2]:
#Fiz um dicionário
frutas = {'frutas':('Manga','Banana','Maçã'),'Valor':(5,10,3)}
frutas

{'frutas': ('Manga', 'Banana', 'Maçã'), 'Valor': (5, 10, 3)}

In [3]:
#Data frame do meu dicionário
df_frutas = pd.DataFrame(frutas)
frutas

{'frutas': ('Manga', 'Banana', 'Maçã'), 'Valor': (5, 10, 3)}

In [4]:
from os import replace


conn = sqlite3.connect('coderhouse.db')
df_frutas.to_sql('produtos',conn,if_exists='replace',index=False)

3

In [5]:
conn.close()

In [6]:
conn = sqlite3.connect('coderhouse.db')
query = 'SELECT * FROM "produtos"'

df = pd.read_sql(query,conn)
df

   frutas  Valor
0   Manga      5
1  Banana     10
2    Maçã      3

In [7]:
conn.close()

In [8]:
import componente

componente.consultar_db('produtos','coderhouse.db')

   frutas  Valor
0   Manga      5
1  Banana     10
2    Maçã      3

In [11]:
df_dragon = componente.consultar_db('dragon_ball','coderhouse_prof.db')

In [10]:
componente.mostrar_tabela('coderhouse_prof.db')

          name
0     produtos
1  dragon_ball

In [16]:
df_dragon.to_csv('dragonball.csv',index=False)