In [14]:
import pandas as pd
from numpy import quantile

df1 = pd.read_csv('https://raw.githubusercontent.com/arteweyl/material_turma58865/main/datasets/Cancer_Data.csv',encoding='latin1')
df1.to_csv('datasets/cancer_data.csv',index=False)

df2 = pd.read_excel('https://raw.githubusercontent.com/arteweyl/material_turma58865/main/datasets/fastfood.xlsx',sheet_name='fastfood')
df2.to_excel('datasets/fastfood.xlsx',index=False)

In [3]:
cancer_data = df1
fastfood = df2

fastfood.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 515 entries, 0 to 514
Data columns (total 17 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   restaurant   515 non-null    object
 1   item         515 non-null    object
 2   calories     515 non-null    int64
 3   cal_fat      515 non-null    int64
 4   total_fat    515 non-null    int64
 5   sat_fat      515 non-null    object
 6   trans_fat    515 non-null    object
 7   cholesterol  515 non-null    int64
 8   sodium       515 non-null    int64
 9   total_carb   515 non-null    int64
 10  fiber        503 non-null    float64
 11  sugar        515 non-null    int64
 12  protein      514 non-null    float64
 13  vit_a        301 non-null    float64
 14  vit_c        305 non-null    float64
 15  calcium      305 non-null    float64
 16  salad        515 non-null    object
dtypes: float64(5), int64(7), object(5)
memory usage: 68.5+ KB

In [4]:
fastfood.shape

(515, 17)

In [5]:
fastfood.describe().round()

,calories,cal_fat,total_fat,cholesterol,sodium,total_carb,fiber,sugar,protein,vit_a,vit_c,calcium
count,515.0,515.0,515.0,515.0,515.0,515.0,503.0,515.0,514.0,301.0,305.0,305.0
mean,531.0,239.0,27.0,72.0,1247.0,46.0,4.0,7.0,28.0,19.0,20.0,25.0
std,282.0,166.0,18.0,63.0,690.0,25.0,3.0,7.0,18.0,31.0,31.0,26.0
min,20.0,0.0,0.0,0.0,15.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
25%,330.0,120.0,14.0,35.0,800.0,28.0,2.0,3.0,16.0,4.0,4.0,8.0
50%,490.0,210.0,23.0,60.0,1110.0,44.0,3.0,6.0,24.0,10.0,10.0,20.0
75%,690.0,310.0,35.0,95.0,1550.0,57.0,5.0,9.0,36.0,20.0,30.0,30.0
max,2430.0,1270.0,141.0,805.0,6080.0,156.0,17.0,87.0,186.0,180.0,400.0,290.0

In [6]:
print('Count', fastfood['protein'].count())
print('Máximo', fastfood['protein'].max())
print('Mínimo', fastfood['protein'].min())
print('Média', fastfood['protein'].mean())
print('Mediana', fastfood['protein'].median())
print('Desvio padrão', fastfood['protein'].std())
print('Variância', fastfood['protein'].var())

Count 514
Máximo 186.0
Mínimo 1.0
Média 27.891050583657588
Mediana 24.5
Desvio padrão 17.683920672636788
Variância 312.72105035611077

In [15]:
print('Quantil 75:', cancer_data['radius_mean'].quantile(0.75))
print('Quantil 25:', cancer_data['radius_mean'].quantile(0.25))
print('Quantil 50:', cancer_data['radius_mean'].quantile(0.5))
print('Quantil 100:', cancer_data['radius_mean'].quantile(1))
print('Quantil 0:', cancer_data['radius_mean'].quantile(0))

Quantil 75: 15.78
Quantil 25: 11.7
Quantil 50: 13.37
Quantil 100: 28.11
Quantil 0: 6.981

In [7]:
fastfood.mean(numeric_only=True)

calories        530.912621
cal_fat         238.813592
total_fat        26.590291
cholesterol      72.456311
sodium         1246.737864
total_carb       45.664078
fiber             4.137177
sugar             7.262136
protein          27.891051
vit_a            18.857143
vit_c            20.170492
calcium          24.852459
dtype: float64

In [17]:
#variáveis categoricas = usar para criar categorias (colunas de dados)
#variáveis numéricas

fastfood.groupby('restaurant').mean(numeric_only=True)

,calories,cal_fat,total_fat,cholesterol,sodium,total_carb,fiber,sugar,protein,vit_a,vit_c,calcium
restaurant,,,,,,,,,,,,
Arbys,532.727273,237.836364,26.981818,70.454545,1515.272727,44.872727,2.709091,7.563636,29.254545,12.560000,8.400000,17.360000
Burger King,608.571429,333.757143,36.814286,100.857143,1223.571429,39.314286,2.383333,8.185714,30.014493,NaN,NaN,NaN
Chick Fil-A,384.444444,145.370370,16.148148,79.074074,1151.481481,28.629630,2.320000,4.148148,31.703704,12.619048,14.080000,11.320000
Dairy Queen,520.238095,260.476190,28.857143,71.547619,1181.785714,38.690476,2.833333,6.357143,24.833333,14.000000,4.370370,16.407407
Mcdonalds,640.350877,285.614035,31.807018,109.736842,1437.894737,48.789474,3.228070,11.070175,40.298246,33.719298,18.298246,20.596491
Sonic,631.698113,338.301887,37.641509,86.981132,1350.754717,47.207547,2.660377,6.528302,29.188679,6.938776,5.755102,17.244898
Subway,503.020833,165.104167,18.479167,61.302083,1272.968750,54.718750,6.562500,10.093750,30.312500,22.385417,41.968750,39.125000
Taco Bell,443.652174,188.000000,20.895652,39.043478,1013.913043,46.634783,5.713043,3.704348,17.417391,11.846154,4.538462,24.807692

In [ ]:
#usando as colunas como filtro, sempre bom usar dois colchetes
fastfood.groupby('restaurant')[['calories','cal_fat']].median()

             calories  cal_fat
restaurant
Arbys           550.0    250.0
Burger King     555.0    285.0
Chick Fil-A     390.0    126.0
Dairy Queen     485.0    220.0
Mcdonalds       540.0    240.0
Sonic           570.0    290.0
Subway          460.0    137.5
Taco Bell       420.0    180.0

cancer data agrupar diagnosis e calcular média aritimetica da coluna radius_mena

In [20]:
cancer_data.groupby('diagnosis')[['radius_mean']].mean()

           radius_mean
diagnosis
B            12.146524
M            17.462830