Anotações da primeira aula

São conhecimentos mais básicos de python que acho importante manter guardado para futuras referências.

In [1]:
#Prints como validações de dados
x = 10
y = 6

print(x>y)
print(x<y)
print(x>=y*x)
print((x/2)!=(y))

True
False
False
True

Estrutura de dados

Listas - Podem ser multiníveis (ter listas dentro de listas)

In [2]:
minha_lista = [1,3.1,'sete', False]
minha_lista[2]

'sete'

In [3]:
minhas_lista2 = [1,2,[3,4]]
minhas_lista2[2][0]

3

In [5]:
minhas_lista2.append('Novo item')
print(minhas_lista2)

[1, 2, [3, 4], 'Novo item', 'Novo item']

In [7]:
minhas_lista2.pop()
print(minhas_lista2)

[1, 2, [3, 4]]

In [8]:
minha_lista_geral = minha_lista + minhas_lista2
print(minha_lista_geral)

[1, 3.1, 'sete', False, 1, 2, [3, 4]]

Ordanação de listas

In [9]:
lista_num = [5,2,1,3,4]
print(lista_num)
#asc
lista_num.sort()
print(lista_num)
#des
lista_num.sort(reverse=True)
print(lista_num)

[5, 2, 1, 3, 4]
[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

In [10]:
print(minha_lista)
minha_lista[0] = 5
print(minha_lista)

[1, 3.1, 'sete', False]
[5, 3.1, 'sete', False]

Dicionário

é uma estrutura de dados mutável, não ordenada, que é mapeada por chaves e valores

In [11]:
cadu = {
    'nome': 'Carlos Eduardo',
    'idade': 25
}

cadu

{'nome': 'Carlos Eduardo', 'idade': 25}

In [12]:
#Trocar valor
cadu['nome'] = 'Carlos Eduardo Morais'
cadu

{'nome': 'Carlos Eduardo Morais', 'idade': 25}

In [13]:
#Adicionar nova chave
cadu['altura'] = 1.80
cadu

{'nome': 'Carlos Eduardo Morais', 'idade': 25, 'altura': 1.8}

Tupla

Tupla são imutáveis, ou seja, não podemos adicionar novos itens a tupla. Semelhante a listam possui valores ordenados por índice.

In [14]:
minha_tupla = (1,2.0,'3')
print(minha_tupla)
#Isso abaixo da erro:
#minha_tupla.append('Quatro')
#print(minha_tupla)

(1, 2.0, '3')

AttributeError: 'tuple' object has no attribute 'append'

In [15]:
minha_lista3 = list(minha_tupla)
minha_lista3

[1, 2.0, '3']

Sets

Sets são um tipo de estrutura ou coleção que é mutável e não ordenada. Itens em sets não podem ser duplicados, então apenas 1 item para cada elemento é permitido. Exemplo: não podemos ter duas entradas 'Maçã" no set.

Apenas for acessa aos itens. Aula três fala mais sobre.

In [16]:
meu_set = {1,2,2,3,4,5,2}

In [17]:
meu_set[0]

TypeError: 'set' object is not subscriptable

In [20]:
minha_lista_dup = [1,1,2,2,3,3,4,4]
meu_set = set(minha_lista_dup)
meu_set
minha_lista_sem_dupli = list(meu_set)
minha_lista_sem_dupli

[1, 2, 3, 4]

List - mutável, ordenado, acesso por indice
dict - mutável, não ordenado, acesso por chave
tuple - não mutável, ordenado, acesso por indice
set - mutável, não ordenado, acesso por valor

In [22]:
#Para não repetir itens da lista, fazer virar set

frutas = ['Maçã','Pera','Banana','Abacate','Laranja']

fruta = input('Escreva uma fruta')
frutas.append(fruta)

frutas = list(set(frutas))
print(frutas)

['Abacate', 'Banana', 'Maçã', 'Laranja', 'Pera']