In [2]:
#Manipulação com pandas 1
import pandas as pd
import numpy as np

In [3]:
#Array feito no numpy
arr = np.array(range(10,20))
arr

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19])

In [5]:
#Serie é basicamente um array feito em coluna com indices
serie = pd.Series(arr)
serie

0    10
1    11
2    12
3    13
4    14
5    15
6    16
7    17
8    18
9    19
dtype: int64

In [6]:
matriz = np.array([[1,2],[3,4]])
matriz

array([[1, 2],
       [3, 4]])

In [7]:
df = pd.DataFrame(matriz)
df

   0  1
0  1  2
1  3  4

In [8]:
#Manipular index e colunas
df = pd.DataFrame(matriz, columns=['pera','maça'],index = ['tipo1','tipo2'])
df

       pera  maça
tipo1     1     2
tipo2     3     4

In [10]:
carros = {'Marcas':['porche','alfa romeo', 'chevrolet'],'Modelos':['Cayman GT4','Giulia','Camaro']}
df2 = pd.DataFrame(carros)
df2

       Marcas     Modelos
0      porche  Cayman GT4
1  alfa romeo      Giulia
2   chevrolet      Camaro

In [13]:
frutas = {'Frutas':['banana','maça', 'abacaxi'],'Modelos':[8.90,5.50,6.50],'QTD':[12,7,9]}
df3 = pd.DataFrame(frutas)
df3